mcp[cli]
requests
openai
python-decouple
langchain
langchain-openai
ipykernel
transformers
langchain-community
unstructured
pdfplumber
pi-heif
unstructured[local-inference]
unstructured[pdf]
chromadb
langchain_chroma
smolagents
LiteLLM
smolagents[mcp]
streamlit
mcp
pytesseract